<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Customer List</title>
</head>
<body>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>City</th>
                <th>Phone</th>
            </tr>
        </thead>
        <tbody>
            <!-- Loop through each customer in the customer list -->
            <tr th:each="customer1 : ${customerList}">
                <td th:text="${customer1.customer_Id}"></td>
                <td th:text="${customer1.customer_Name}"></td>
                <td th:text="${customer1.city}"></td>
                <td th:text="${customer1.phone_No}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
